body {
  
  position: relative;
}
a {
  color: #000;
  text-decoration: none;
}

.container {
  padding: 30px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.photo-card {
  background-color: #007bff;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 30vh;
}

.info {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
  
.info-item {
    text-align: center;
  }


.search-form__input {
  padding: 0px 5px;

  width: 200px;
  height: 30px;

  border: 1px solid #007bff;
  border-radius: 5px;
}

.search-form {
  display: flex;
  align-items: center;
}

.button {
  padding: 4px 10px;
  align-items: center;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  cursor: pointer;
}
  .button:hover {
    background-color: #4040ff;
  }


.input-btn {
  margin-left: 15px;
}

.load-more {
  cursor: pointer;
  
  width: 200px;
  height: 30px;
  margin: 0 auto;

}


